/* Mobile Navigation */
.mobile-nav {
    background-color: $gray;
    border-top: 2px solid #fff;
    display: flex;
    font: 700 .9rem $header-font-stack;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 10;

    @include atSmall {
        display: none;
    }

    div {
        color: #fff;
        flex: 1;
        padding: .8rem;
        text-align: center;
    }
}

.menu-icon, .close-icon {
    display: none;
}

.menu-icon--is-visible, .close-icon--is-visible {
    display: block;
}