/* Header */
.site-header {
    font-family: $body-font-stack;
    text-align: center;

    @include atSmall {
       padding: 0;
       margin: 2rem 0; 
       text-align: left;
    }
    
    h1 {
        border-bottom: 1px solid $gray;
        font: 900 1.5rem $header-font-stack;
        letter-spacing: .05rem;
        padding-left: .5rem;

        @include atSmall {
            font-size: 2rem;
        }
    }

    a {
        text-decoration: none;
    }

    h5 {
        font-weight: 400;
        padding: .2rem;

        @include atSmall {
            padding: 0 0 0 1.5rem;
            margin: .5rem;
        }
    }
}