/* Flex Layout - Row */
.flex-container {
    display: flex;
}

.flex-container--wrap {
    flex-wrap: wrap;
}

/* Flex Layout - Column */
.flex-container--column {
    display: flex;
    flex-direction: column;
}

.flex-container--min-height {
    min-height: 100vh;
}

/* Flex Item Variations */
.flex-item--1 {
    flex: 1;
}

.flex-item--text-align-right {
    text-align: right;
}