/* Flex Layout - Row */
.flex-container {
    display: flex;
}

.flex-container--wrap {
    flex-wrap: wrap;
}

// .flex-container--mobile-column {
//     flex-direction: column;

//     @include atSmall {
//         flex-direction: row;
//     }
// }

/* Flex Item Variations */
.flex-item--1 {
    flex: 1;
}
