/* Posts */
.post {
    font-family: $mono-font-stack;
    color: #fff;
    padding: .5rem;
    width: 100%;

    @include atSmall {
        min-width: 280px;
    }

    h2 {
    font-size: 1rem;
    border-bottom: 1px solid #fff;
    }

    p {
        font-size: .9rem;
    }

    a {
        color: #fff;
    }

    a:hover {
        color: $pink;
    }
}

.post:nth-of-type(4n-3) {
    background-color: $dark-blue;
}

.post:nth-of-type(4n-2) {
    background-color: $green;
}

.post:nth-of-type(4n-1) {
    background-color: $light-blue;
}

.post:nth-of-type(4n) {
    background-color: $medium-gray;
}
