/* Search */
.search-form {
    font-family: $font-stack;
    position: fixed;
    bottom: 47px;
    opacity: 0;
    width: 100vw;
    padding: .5rem 0;
    text-align: center;
    background-color: $dark-gray;
    transition: all 0.3s ease;

    @include atSmall {
        display: inline-block;
        position: static;
        opacity: 100;
        bottom: auto;
        margin: .15rem;
        padding: 0;
        width: auto;
        text-align: start;
        background-color: #fff;
    }

    .search-field {
        font-family: $font-stack;
        font-size: .8rem;
        padding: .2rem;
        width: 240px;

        @include atSmall {
            width: 227px;
        }
    }

    .search-submit {
        border: 1px solid $gray;
        background-color: #fff;
        font-size: .8rem;
        padding: .25rem .7rem;
        transition: all 0.3s ease;
    }
}

.search-form--is-visible {
    opacity: 100;
    z-index: 5;
}

span.screen-reader-text {
    position: absolute;
    left: -9999px;
}
