/* Navigation Menu */
.site-nav {
    font-family: $font-stack;
    font-size: .9rem;
    background-color: $purple;
    margin-right: .3rem;

    ul {
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;    }

    li {
        list-style: none;
        padding: 2rem 1rem;
        flex: 1;
        align-self: center;
    }

    a {
        text-decoration: none;
        color: #fff;
    }

    a:hover {
        text-decoration: underline overline;
        color: $gray;
    }

}   