/* Header */
.site-header {
    font-family: $font-stack;
    text-align: center;

    @include atSmall {
       padding: 0;
       margin: 2rem 0; 
       text-align: left;
    }
    
    h1 {
        border-bottom: 1px solid $gray;
        font-size: 1.5rem;
        padding-left: .5rem;

        @include atSmall {
            font-size: 1.7rem;
        }
    }

    h5 {
        font-size: 1rem;
        padding: .2rem;

        @include atSmall {
            padding: 0 0 0 1.5rem;
            margin: .5rem;
        }
    }

    a {
        text-decoration: none;
        color: $dark-gray;
    }

    a:hover {
        color: $pink;
    }
}