/* Navigation Menu */
.site-nav {
    font-family: $font-stack;
    font-size: .9rem;
    background-color: $purple;
    opacity: 0;
    position: fixed;
    bottom: 0;
    height: 100vh;
    width: 100vw;
    transition: all 0.2s ease;
    text-transform: lowercase;

    @include atSmall {
        opacity: 100;
        margin-right: .3rem;
        position: static;
        bottom: auto;
        width: auto;
    }

    ul {
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;    
    }

    li {
        list-style: none;
        padding: 2rem 1rem;
        flex: 1;
        align-self: center;
    }

    a {
        text-decoration: none;
        color: #fff;
    }

    a:hover {
        text-decoration: underline overline;
        color: $gray;
    }

}

.site-nav--is-visible {
    opacity: 100;
}