/* Footer */
.site-footer {
    font-family: $font-stack;
    padding-left: 1rem;
    margin-top: 30px;
    margin-bottom: 50px;
    border-top: 1px solid $gray;

    @include atSmall {
        margin-bottom: 5px;
    }
}
