$font-stack: 'Roboto', sans-serif;
$mono-font-stack: 'Overpass Mono', monospace;

$green: #B6C0BD;
$light-blue: #88A6BA;
$dark-blue: #46546B;
$dark-gray: #383838;
$medium-gray: #6E7173;
$pink: #E3D0C6;
$gray: #BFB9BC;
