/* Font Variables */
$font-stack: 'Roboto', sans-serif;
$mono-font-stack: 'Overpass Mono', monospace;

/* Color Variables */
$green: #93ABAC;
$blue: #6885A0;
$purple: #574D5A;
$red: #BE6C76;
$yellow: #dcbc65;
$light-gray: #E5E3E2;
$gray: #BFB9BC;