/* Posts */
.posts {
    display: flex;
    flex-wrap: wrap;
}

/* Post */
.post {
    background-color: $white;
    border-bottom: 4px solid $teal;
    box-sizing: border-box;
    color: $gray;
    flex: 1 0 100%;
    margin: .125rem 0;
    padding: .5rem;

    @include atSmall {
        flex: 1 1 280px;
        margin: .125rem;        
    }
   

    h2 {
        border-bottom: 1px solid $teal;
        font: 900 1.1rem $header-font-stack;
        letter-spacing: .075rem;
    }

    a {
        word-break: break-all;
    }
}
